.OffButton {
    position: absolute;
    right: 0;
    top:20px;
    background-color: #727272;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    cursor: pointer;
}
.OffButton:hover, .OffButton.selected {
    background-color: #fff;
}


.OffButton .innerCircle {
    font-size: 22px;
    background-color: #000;
    color: #fff;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}